body{
    background-image: url('https://c8.alamy.com/compit/kdpb02/i-numeri-di-bingo-stile-piatto-kdpb02.jpg');
   text-align: center;
   
}


.bottone{
    font-size: 40px;
    background-color: aqua;
    border-radius: 20px;
    margin-top: 200px;
}


main{
  background-color: #0c0b1d;
  color: #ebebeb;
  border-radius: 28px;
  border: 8px solid #0c0b1d;
}


#tabella{
    width:1400px;
    height: 1000px;
    border:10px solid white;
   
}

#color {
    border-color: #7a408a;
  }
  